<!-- This example requires Tailwind CSS v2.0+ -->
<footer class="p-8 pt-12">
	<div class="mx-auto lg:max-w-7xl flex flex-wrap justify-between items-end">
		<nav  id="footer-menu" class="flex font-display text-white flex-row justify-start text-lg bg-none">
				<p class="text-xl bg-primary text-black -ml-2 pl-2 pt-4">
					{{ if not .Page.IsHome }}
						<a href="/" class="no-underline hover:underline">
							{{ partial "livewire-logo" }}
						</a>
					{{ else }}
						{{ partial "livewire-logo" }}
					{{ end }}
				</p>

			<!-- Primary Nav -->
			<ul class="" role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
				{{ $currentPage := . }}
				{{ range .Site.Menus.main }}
						<a class="block no-underline hover:underline my-0 mx-2 {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
				{{ end }}
			</ul>
		</nav>

		<p class="mt-8 font-display text-right text-sm text-gray-400">
			&copy; <span id="cpy-yr">2021</span> Livewire Group Pty Ltd. All rights reserved.

        {{/* Ensure copyright year is always up to date */}}
			<script>document.getElementById('cpy-yr').innerText = new Date().getFullYear().toString();</script>
		</p>
	</div>

</footer>

{{/*{{ partial "svg" . }}*/}}

<script src="/app.js"></script>
