<!-- This example requires Tailwind CSS v2.0+ -->
<footer class="p-8 pt-12">
	<div class="relative mx-auto lg:max-w-7xl flex flex-wrap justify-between items-end">
		<img alt="glitch image" class="not-sr-only absolute -right-8 lg:right-12 -top-24 w-24 md:w-24 lg:w-32" src="https://res.cloudinary.com/livewire-group/image/upload/q_auto,f_auto/v1615286387/vi/pattern/BlackWhite/Fragment/Livewire_Pattern_Fragment_5_BlackWhite_r2jnsd.png" />
		<nav id="footer-menu" class="flex font-display text-white flex-row justify-start text-lg bg-none">
				<p class="relative text-xl bg-primary text-black -ml-2 pl-2 overflow-hidden">
					{{ if not .Page.IsHome }}
						<a href="/" class="no-underline hover:underline">
							{{ partial "livewire-logo" }}
						</a>
					{{ else }}
						{{ partial "livewire-logo" }}
					{{ end }}
					<img alt="glitch image" class="not-sr-only absolute left-0 -bottom-2 w-3/4" src="https://res.cloudinary.com/livewire-group/image/upload/q_auto,f_auto/v1615286328/vi/pattern/BlackMint/Fragment/Livewire_Pattern_Fragment_2_BlackMint_jt47j1.png" />
				</p>

			<!-- Primary Nav -->
			<ul class="" role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
				{{ $currentPage := . }}
				{{ $menu := partial "reverse-slice.html" .Site.Menus.main }}
				{{ range $menu }}
						<a class="block no-underline hover:underline my-0 mx-2 {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
				{{ end }}
			</ul>
		</nav>

		<p class="mt-8 font-display text-right text-sm text-gray-400">
			&copy; <span id="cpy-yr">2021</span> Livewire Group Pty Ltd. All rights reserved.

			{{/* Ensure copyright year is always up to date */}}
			<script>document.getElementById('cpy-yr').innerText = new Date().getFullYear().toString();</script>
		</p>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>




