<!-- This example requires Tailwind CSS v2.0+ -->
<footer class="p-8 pt-12">
	<div class="relative mx-auto lg:max-w-7xl md:flex flex-wrap justify-between">
{{/*		<img alt="glitch" class="not-sr-only absolute -right-8 lg:right-12 -top-16 w-32 md:w-36 lg:w-44" src="https://res.cloudinary.com/livewire-group/image/upload/q_auto,f_auto/v1615286387/vi/pattern/BlackWhite/Fragment/Livewire_Pattern_Fragment_4_BlackWhite_mlcji2.png" />*/}}
		<nav id="footer-menu" class="flex font-display text-white flex-row justify-start text-lg bg-none">
				<div class="relative text-xl bg-primary text-black -ml-2 pl-2 overflow-hidden">
					<img alt="glitch image" class="not-sr-only absolute left-0 -bottom-2 w-3/4" src="https://res.cloudinary.com/livewire-group/image/upload/q_auto,f_auto/v1615286328/vi/pattern/BlackMint/Fragment/Livewire_Pattern_Fragment_2_BlackMint_jt47j1.png" />
					<div class="relative inline-block bg-primary z-10 bg-opacity-50">
						{{ if not .Page.IsHome }}
							<a href="/" class="no-underline hover:underline">
								{{ partial "livewire-logo" }}
							</a>
						{{ else }}
							{{ partial "livewire-logo" }}
						{{ end }}
					</div>
				</div>

			<!-- Primary Nav -->
			<ul class="" role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
				{{ $currentPage := . }}
				{{ range .Site.Menus.footer }}
						<a class="block no-underline hover:underline my-0 mx-2 {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
				{{ end }}
			</ul>
		</nav>

		<div class="mt-8 md:mt-0 md:text-right text-sm text-gray-400 flex flex-col justify-between">
			<div class="mb-4">
				<a href="https://www.linkedin.com/company/livewiregroupintl/" class="inline-block no-underline" title="Follow us on LinkedIn">
					<svg class="inline-block w-8 mx-auto fill-current mr-0.5" viewBox="0 0 32 32">
						<use xlink:href="/img/sprites.svg#linkedin" />
					</svg>
				</a>
				<a href="https://twitter.com/Livewire_Group" class="inline-block no-underline ml-2" title="Follow us on Twitter">
					<svg class="inline-block w-8 mx-auto fill-current" viewBox="0 0 32 32">
						<use xlink:href="/img/sprites.svg#twitter" />
					</svg>
				</a>
			</div>

			<div>
				<p>ABN 99 647 948 025</p>
				<p>
					&copy; <span id="cpy-yr">2021</span> Livewire Group International Pty Ltd. All rights reserved.

					{{/* Ensure copyright year is always up to date */}}
					<script>document.getElementById('cpy-yr').innerText = new Date().getFullYear().toString();</script>
				</p>
				<p class="text-gray-600">
					<small>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small>
				</p>
			</div>
		</div>
	</div>

</footer>

<script src="/app.js"></script>




