<nav class="">

	<!-- Logo -->
{{/*	<a href="/" class="no-underline">*/}}
{{/*		<img src="/img/logo.svg" alt="Livewire logo" class=""/>*/}}
{{/*		<span class="text-4xl no-underline text-white">Livewire</span>*/}}
{{/*	</a>*/}}

	<div class="p-8">
		<p class="text-base font-semibold tracking-wide uppercase">
			<a href="/" class="no-underline hover:underline text-gray-500">Livewire</a>
		</p>
		<a class="text-sm text-gray-400" href="mailto:hello@livewire.group">hello@livewire.group</a>
	</div>

	<!-- Menu Button -->
	<button id="nav-menu-button" class="fixed bottom-6 right-6 h-16 w-16 z-20 rounded-full bg-primary flex items-center justify-center shadow-lg hamburger">
		<span class="cross"></span>
		<span class="spline"></span>
	</button>

	<!-- Primary Nav -->
	<ul id="nav-menu-list" class="fixed top-0 left-full h-full w-full z-10 flex flex-col items-center justify-center bg-black text-white text-2xl transition-transform transform -translate-x-0"
	    role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
		{{ if not (eq .File.Dir "/") }}<li><a href="/" class="block no-underline my-2" role="menuitem">Home</a></li>{{ end }}
		<li><a href="/about" class="block no-underline my-2" role="menuitem">Who We Are</a></li>
		<li><a href="/services" class="block no-underline my-2" role="menuitem">What We Do</a></li>
		<li><a href="/news" class="block no-underline my-2" role="menuitem">News</a></li>
		<li><a href="/contact" class="block no-underline my-2" role="menuitem">Contact</a></li>
	</ul>
</nav>
