<nav class="">

	<!-- Logo -->
	<a href="/" class="">
		<img src="/img/logo.svg" alt="Livewire logo" class=""/>
	</a>

	<button class="bg-white">
		Foo
		<span class="block relative w-6 h-px rounded-sm bg-white"></span>
		<span class="block relative w-6 h-px rounded-sm bg-white mt-1"></span>
		<span class="block relative w-6 h-px rounded-sm bg-white mt-1"></span>
	</button>

	<!-- Primary Nav -->
	<ul class="">
		<li><a href="/products" class="">Products</a></li>

		<li><a href="/values" class="">Values</a></li>

		<li><a href="/post" class="">Blog</a></li>

		<li><a href="/contact" class="">Contact</a></li>
	</ul>

</nav>
