<!doctype html>
<html lang="{{ $.Site.Language.Lang }}" class="dark">
  {{ partial "head" . }}
  <body class="flex flex-col h-screen">
    {{ block "header" . }}
      <div class="p-8">
        <p class="text-base font-semibold text-gray-500 tracking-wide uppercase">Livewire</p>
        <a class="text-sm text-green-200" href="mailto:hello@livewire.group">hello@livewire.group</a>
      </div>
{{/*      {{ partial "nav" . }}*/}}
    {{end}}

    <main class="flex-grow">
      {{ block "main" . }}{{ end }}
    </main>

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
  </body>
</html>
