<!doctype html>
<html lang="{{ $.Site.Language.Lang }}" class="dark">
  {{ partial "head" . }}
  <body class="flex flex-col h-screen">
    {{ block "header" . }}
      <p class="p-8 absolute z-10 text-center w-full">
        <a class="text-sm text-green-200 bg-black" href="mailto:hello@livewire.group">hello@livewire.group</a>
      </p>
{{/*      {{ partial "nav" . }}*/}}
    {{end}}

    <main class="flex-grow">
      {{ block "main" . }}{{ end }}
    </main>

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
  </body>
</html>
