<a href="{{ .RelPermalink }}" class="group mt-4 no-underline">
	{{ $.Scratch.Set "image" "https://res.cloudinary.com/livewire-group/image/upload/c_fill,f_auto,g_center,h_192,q_auto,w_363/v1615286157/vi/Logo/Livewire_Pattern_Logo_BlackMint_A3_gatmmz.jpg" }}
	{{ if .Params.image }}
		{{ $.Scratch.Set "image" .Params.image }}


	{{ end }}
	<div
		class="flex h-48 items-center overflow-hidden bg-gray-100 bg-contain bg-no-repeat bg-center"
		style="background-image: url({{ $.Scratch.Get "image" }})"
	>
		{{/* {{ if .Params.image }}*/}} {{/* <img class="m-auto" src="{{ .Params.image }}" alt="{{ .Title }}" />*/}}
		{{/* {{ else }}*/}}
		{{/* <img class="m-auto" src="https://res.cloudinary.com/livewire-group/image/upload/c_fill,f_auto,g_center,h_192,q_auto,w_363/v1615286157/vi/Logo/Livewire_Pattern_Logo_BlackMint_A3_gatmmz.jpg" alt="{{ .Title }}"
		/>*/}} {{/* {{ end }}*/}}
	</div>
	<div class="border-t-2 group-hover:border-primary pt-6">
		<h3 class="text-xl font-semibold group-hover:underline">{{ .Title }}</h3>
		<div class="mt-2 text-sm">
			{{/* <time datetime="{{ .Date.Format "2006-01-02" }}">*/}} {{/* {{ .Date.Format "Jan 2, 2006" }}*/}}
			{{/* </time> */}}
			{{/* <span aria-hidden="true">&middot;</span> */}}
			<span>{{ .ReadingTime }} min read</span>
		</div>
	</div>
</a>
