{{ define "main" }}

	{{/* {{ $.Scratch.Set "image" "/img/blog-index.jpg" }}*/}} {{/* {{ if .Params.image }}*/}}
	{{/* {{ $.Scratch.Set "image" .Params.image }}*/}} {{/* {{ end }}*/}}
	{{ partial "hero-section" (dict "title" "Case Study") }}


	<div class="bg-white text-black">
		<div class="py-12">
			<div class="max-w-prose mx-auto px-8 md:px-0">
				<h1 class="text-3xl mb-5">{{ .Title }}</h1>
				<div class="prose-lg mb-5">
					{{ .Description | markdownify }}
				</div>
			</div>

			<div class="max-w-3xl mx-auto text-center">
				{{ if .Params.image }}
					<img class="my-8 mx-auto" src="{{ .Params.image }}" alt="{{ .Title }}" />

				{{ end }}
			</div>

			<div class="max-w-prose mx-auto prose px-8 md:px-0">
				{{ .Content }}
			</div>
		</div>
	</div>

{{ end }}
