<div
	class="mx-auto md:max-w-7xl w-full {{ if .Page.IsHome }}
		md:absolute md:left-0 md:right-0
	{{ end }}"
>
	{{ if not .Page.IsHome }}
		<div class="absolute w-full z-10 not-sr-only md:hidden text-center pt-4">
			<p class="w-36 mx-auto">{{ partial "livewire-logo" }}</p>
		</div>
	{{ end }}


	<nav
		id="nav-menu"
		class="
			flex font-display
			fixed top-0 left-full h-full w-full z-10 pl-12 pb-28 pt-8 flex-col justify-center text-2xl transition-transform transform -translate-x-0 bg-white
			md:relative md:left-auto md:h-auto md:w-auto md:flex-row md:items-center md:text-base md:bg-white md:px-2 md:py-5
			{{ if .Page.IsHome }}
			md:justify-center md:top-8 md:bg-transparent text-outline text-white
		{{ else }}
			md:justify-start
		{{ end }}
	"
	>
		{{ if not .Page.IsHome }}
			<div class="flex text-primary md:bg-transparent md:w-48 text-xl md:text-base -ml-4 md:ml-0">
				<a href="/" class="no-underline hover:underline inline-flex w-48 md:w-32 ">
					<span class="inline-flex">{{ partial "livewire-logo" }}</span>
				</a>
			</div>
		{{ end }}


		<!-- Primary Nav -->
		<ul
			class="group grow w-full flex {{ if not .Page.IsHome }}
				justify-around
			{{ else }}
				justify-center
			{{ end }}"
			role="menu"
			aria-orientation="vertical"
			aria-labelledby="main-menu"
		>
			{{ $currentPage := . }}
			{{ range .Site.Menus.main }}
				{{ if .HasChildren }}
					<li class="m-0 pl-0 md:relative nav-dropdown {{ if $currentPage.HasMenuCurrent "main" . }}{{ end }}">
						<a
							class="block no-underline my-8 md:my-0 md:mx-2 md:p-2 border-b-2 hover:border-primary
								{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
								border-primary group-hover:border-white
							{{ else }}
								border-transparent
							{{ end }}
							"
							href="{{ .URL }}"
						>
							{{ .Pre }}
							<span>{{ .Name }}</span>
						</a>
						<ul
							class="ml-2 md:absolute md:top-full md:-ml-4 md:pl-1 md:pl-1.5 md:py-2 md:bg-black/80 md:m-0 md:p-2 md:p-3 nav-dropdown-list"
						>
							{{ range .Children }}
								<li class="m-0">
									<a
										class="no-underline block no-underline my-4 md:my-2 md:p-2 md:mx-2 border-b-2 hover:border-primary
										{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
											border-primary group-hover:border-white
										{{ else }}
											border-transparent
										{{ end }}
										"
										href="{{ .URL }}"
										role="menuitem"
									>
										{{ .Name }}
									</a>
								</li>
							{{ end }}
						</ul>
					</li>
				{{ else }}
					<a
						class="block no-underline my-8 md:my-0 md:mx-2 md:p-2 border-b-2 hover:border-primary
						{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
							border-primary group-hover:border-white
						{{ else }}
							border-transparent
						{{ end }}
					"
						href="{{ .URL }}"
						title="{{ .Title }}"
						role="menuitem"
					>
						{{ .Name }}
					</a>
				{{ end }}
			{{ end }}
		</ul>
	</nav>

	<!-- Menu Button -->
	<button
		id="nav-menu-button"
		class="fixed bottom-6 right-6 h-16 w-16 z-20 rounded-full bg-primary flex items-center justify-center shadow-lg hamburger md:hidden"
	>
		<span class="cross"></span>
		<span class="spline"></span>
	</button>
</div>
