{{ $classes := "bg-white text-black" }}
{{ $reverse := cond (modBool .index 2) false true }}

{{ if .dark }}
	{{ $classes = "bg-black text-white" }}
{{ end }}


<div class="{{ $classes }} md:py-12 py-20">
	{{ if .title }}
		<div class="max-w-7xl mx-auto px-8 mb-8">
			<div class="max-w-7xl  {{ cond $reverse "text-right ml-auto" "" }}">
				<h2 class="text-2xl md:text-3xl lg:text-4xl">{{ .title }}</h2>
			</div>
		</div>
	{{ end }}


	<div class="max-w-7xl mx-auto px-8">
		<div class="max-w-3xl text-lg md:text-xl lg:text-2xl {{ cond $reverse "text-right ml-auto" "" }}">
			<div>{{ .text | markdownify }}</div>
		</div>
	</div>
</div>
