{{ define "main" }}
	<div class="hero-banner hero-banner--large">
		<picture>
			<source
				srcset="
					https://res.cloudinary.com/livewire-group/image/upload/c_lfill,dpr_auto,f_auto,g_center,q_auto:eco,h_250,w_480/v1658390591/website/banners/hero-banner-bolt-large-bg_i9puan.jpg,
					https://res.cloudinary.com/livewire-group/image/upload/c_lfill,dpr_auto,f_auto,g_center,q_auto:eco,h_500,w_960/v1658390591/website/banners/hero-banner-bolt-large-bg_i9puan.jpg 1.5x
				"
				media="(max-width: 480px)"
			/>
			<source
				srcset="
					https://res.cloudinary.com/livewire-group/image/upload/c_lfill,dpr_auto,f_auto,g_center,q_auto:eco,h_250,w_768/v1658390591/website/banners/hero-banner-bolt-large-bg_i9puan.jpg,
					https://res.cloudinary.com/livewire-group/image/upload/c_lfill,dpr_auto,f_auto,g_center,q_auto:eco,h_500,w_1500/v1658390591/website/banners/hero-banner-bolt-large-bg_i9puan.jpg 1.5x
				"
				media="(max-width: 768px)"
			/>
			<source
				srcset="
					https://res.cloudinary.com/livewire-group/image/upload/c_lfill,dpr_auto,f_auto,g_center,q_auto:eco,h_250,w_1024/v1658390591/website/banners/hero-banner-bolt-large-bg_i9puan.jpg,
					https://res.cloudinary.com/livewire-group/image/upload/c_lfill,dpr_auto,f_auto,g_center,q_auto:eco,h_500,w_2100/v1658390591/website/banners/hero-banner-bolt-large-bg_i9puan.jpg 1.5x
				"
				media="(max-width: 1024px)"
			/>
			<source
				srcset="
					https://res.cloudinary.com/livewire-group/image/upload/c_lfill,dpr_auto,f_auto,g_center,q_auto:eco,h_250,w_1920/v1658390591/website/banners/hero-banner-bolt-large-bg_i9puan.jpg,
					https://res.cloudinary.com/livewire-group/image/upload/c_lfill,dpr_auto,f_auto,g_center,q_auto:eco,h_500,w_2560/v1658390591/website/banners/hero-banner-bolt-large-bg_i9puan.jpg 1.5x
				"
				media="(max-width: 1280px)"
			/>
			<img
				class="absolute inset-0 h-full w-full object-cover"
				src="https://res.cloudinary.com/livewire-group/image/upload/c_lfill,dpr_auto,f_auto,g_center,q_auto:eco/v1658390591/website/banners/hero-banner-bolt-large-bg_i9puan.jpg"
				alt="Livewire banner background"
			/>
		</picture>
		<h1 class="relative px-4 z-10 text-white w-full max-w-[24rem] sm:max-w-full sm:w-[24rem] md:w-[28rem] lg:w-[32rem]">
			{{ partial "livewire-logo" }}
		</h1>
	</div>

	<div class="bg-white text-black relative">
		<div class="max-w-7xl mx-auto py-24 md:py-36 px-4 sm:px-6 lg:px-8">
			<div class="text-center">
				<h1 class="mt-1 font-display text-5xl md:text-6xl lg:text-7xl sm:tracking-tight">{{ .Title }}</h1>
				{{ if .Params.subtitle }}
					<p class="max-w-xl mt-5 mx-auto text-lg md:text-xl lg:text-2xl lg:text-3xl">{{ .Params.subtitle }}</p>
				{{ end }}
			</div>
		</div>
	</div>

	{{ if .Params.intros }}
		<div class="max-w-4xl mx-auto py-8 md:py-12 lg:py-24 flex flex-wrap home:intros">
			{{ range .Params.intros }}
				<div class="md:w-1/2">
					<div class="p-8">
						<h2 class="text-3xl mb-4">{{ .heading }}</h2>
						<p class="text-xl leading-relaxed">{{ .text }}</p>
					</div>
				</div>
			{{ end }}
		</div>
	{{ end }}


	<div class="bg-primary text-black text-center py-12 px-4 lg:px-16">
		<div class="max-w-4xl mx-auto">
			<h2 class="text-4xl mb-8">Gaming Marketing & Gametech</h2>
			<p class="my-8 text-lg leading-relaxed">
				Our services encompass end to end brand services, including talent engagement, programmatic and digital
				advertising, gaming and esports marketing, direct publisher opportunities and more to deliver integrated
				strategies that deliver market leading results.
			</p>
			{{/* {{ partial "services-list-block" (where .Site.RegularPages "Section" "==" "services") }}*/}}
		</div>
	</div>
{{ end }}
