{{ define "main" }}

	{{ partial "hero-section" (dict "imageUrl" "/img/news-index.jpg" "title" "What we do") }}

	<div class="bg-black text-white">
		<div class="max-w-4xl mx-auto py-12 py-16 lg:py-24 text-center text-lg md:text-xl lg:text-2xl">
			{{ .Content }}
		</div>
	</div>

	<div class="bg-white text-black">
		<div class="max-w-7xl mx-auto px-12 py-16 text-center">
			<h2 class="font-display text-3xl px-8">Our 3 Pillars:</h2>
			<ul class="flex flex-wrap justify-center mt-8 mb-4">
				{{ range .Pages }}
					<li class="flex-grow text-xl md:text-2xl lg:text-4xl mx-8 my-4 p-2">
						{{ .Render "li" }}
					</li>
				{{ end }}
			</ul>
		</div>
	</div>

{{ end }}
