/*
	Font Cy
 */

@font-face {
	font-display: auto;
	font-family: 'Cy';
	font-style: auto;
	font-weight: 600;
	src: url('/src/fonts/Cy-SemiBold_181011_144257.woff2'), url('/src/fonts/Cy-SemiBold_181011_144250.woff');
}
