/**
 * Hero Section
 */

.bg-hero-section {
	background-repeat: no-repeat;
	background-image: url(https://res.cloudinary.com/livewire-group/image/upload/q_auto,f_auto,w_400/v1615286357/vi/pattern/BlackMint/Fragment/Livewire_Pattern_Fragment_3_BlackMint_c9kiu7.png),
		url(https://res.cloudinary.com/livewire-group/image/upload/q_auto,f_auto,w_300/v1615286328/vi/pattern/BlackMint/Fragment/Livewire_Pattern_Fragment_2_BlackMint_jt47j1.png),
		url(https://res.cloudinary.com/livewire-group/image/upload/q_auto,f_auto,w_400/v1615286351/vi/pattern/BlackMint/Fragment/Livewire_Pattern_Fragment_4_BlackMint_qdwp19.png),
		url(https://res.cloudinary.com/livewire-group/image/upload/q_auto,f_auto,w_300/v1615286341/vi/pattern/BlackMint/Fragment/Livewire_Pattern_Fragment_1_BlackMint_exp2id.png);
	background-size: 30vw, 25vw, 30vw, 25vw;
	background-position: top left, top right 5vw, bottom right, bottom left;

	/* TODO: Tweak for varying screen sizes */
}
