/**
 * Menu
 */

@screen md {
	.nav-dropdown {
		.nav-dropdown-list {
			transform: translateY(-150%);
		}

		&:hover .nav-dropdown-list {
			transform: translateY(0%);
		}

		> a:focus + .nav-dropdown-list {
			transform: translateY(0%);
		}

		&:focus-within .nav-dropdown-list {
			transform: translateY(0%);
		}
	}
}
