{{ define "main" }}

{{ partial "hero-section" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "overline" .Params.overline) }}

		<div class="px-8 text-center">
			<p class="mb-4 text-base font-semibold text-gray-500 tracking-wide uppercase">Launching</p>
			<div class="text-lg text-gray-500">
				<span id="lcdn-d" class="text-4xl text-gray-200 font-mono font-semibold "></span><span class="ml-0.5 mr-2">d</span>
				<span id="lcdn-h" class="text-4xl text-gray-200 font-mono font-semibold "></span><span class="ml-0.5 mr-2">h</span>
				<span id="lcdn-m" class="text-4xl text-gray-200 font-mono font-semibold "></span><span class="ml-0.5 mr-2">m</span>
				<span id="lcdn-s" class="text-4xl text-gray-200 font-mono font-semibold "></span><span class="ml-0.5 mr-2">s</span>
			</div>
			<script>
				const launch = new Date('2021-03-10T09:00:00.000+11:00');
				setInterval(() => {
					const diff = launch.valueOf() - new Date();
					const secondsM = 1000;
					const minutesM = secondsM * 60;
					const hoursM = minutesM * 60;
					const daysM = hoursM * 24;

					const days = Math.floor(diff / daysM);
					const hours = Math.floor((diff % daysM) / hoursM);
					const minutes = Math.floor((diff % hoursM) / minutesM);
					const seconds = Math.floor((diff % minutesM) / secondsM);

					document.getElementById('lcdn-d').innerText = days.toString().padStart(2, '0');
					document.getElementById('lcdn-h').innerText = hours.toString().padStart(2, '0');
					document.getElementById('lcdn-m').innerText = minutes.toString().padStart(2, '0');
					document.getElementById('lcdn-s').innerText = seconds.toString().padStart(2, '0');
				}, 1000);
			</script>
		</div>

{{/*{{ if .Params.blurbs }}*/}}
{{/*	<div class="">*/}}
{{/*		{{ range .Params.blurbs }}*/}}
{{/*			{{ partial "short-text" . }}*/}}
{{/*		{{ end }}*/}}
{{/*	</div>*/}}
{{/*{{ end }}*/}}

{{/*<div class="bg-gray-300 text-gray-900 text-center py-12 px-4">*/}}
{{/*	<h2 class="text-2xl">What We Do</h2>*/}}
{{/*	<p class="my-8">Our services encompass end to end brand services, including talent engagement, programmatic and digital advertising, gaming and e-sports marketing, direct publisher opportunities and more to deliver integrated strategies that deliver market leading results.</p>*/}}
{{/*	<ul class="flex justify-around mb-4">*/}}
{{/*		<li>*/}}
{{/*			<a href="/services/marketing" class="block no-underline text-gray-900">*/}}
{{/*				<svg class="w-20 mx-auto fill-current text-gray-700" viewBox="0 0 32 32">*/}}
{{/*					<use xlink:href="/img/sprites.svg#promotion" />*/}}
{{/*				</svg>*/}}
{{/*				<div class="mt-4">Marketing</div>*/}}
{{/*			</a>*/}}
{{/*		</li>*/}}
{{/*		<li>*/}}
{{/*			<a href="/services/addressability" class="block no-underline text-gray-900">*/}}
{{/*				<svg class="w-20 mx-auto fill-current text-gray-700" viewBox="0 0 32 32">*/}}
{{/*					<use xlink:href="/img/sprites.svg#magnet" />*/}}
{{/*				</svg>*/}}
{{/*				<div class="mt-4">Addressability</div>*/}}
{{/*			</a>*/}}
{{/*		</li>*/}}
{{/*		<li>*/}}
{{/*			<a href="/services/content" class="block no-underline text-gray-900">*/}}
{{/*				<svg class="w-20 mx-auto fill-current text-gray-700" viewBox="0 0 32 32">*/}}
{{/*					<use xlink:href="/img/sprites.svg#content" />*/}}
{{/*				</svg>*/}}
{{/*				<div class="mt-4">Content</div>*/}}
{{/*			</a>*/}}
{{/*		</li>*/}}
{{/*	</ul>*/}}
{{/*</div>*/}}

{{/*{{ partial "logo-cloud" .Params.brands }}*/}}

{{/*{{ partial "2-up" .Params }}*/}}

{{/*{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}*/}}

{{/*{{ partial "blog" . }}*/}}

{{ end }}
