{{ define "main" }}

{{ partial "hero-section" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "overline" .Params.overline) }}

{{ if .Params.intros }}
	<div class="lg:flex lg:px-4">
		{{ range .Params.intros }}
			<div class="flex lg:p-4">
				{{ partial "short-text" . }}
			</div>
		{{ end }}
	</div>
{{ end }}

{{ with .Params.services }}
<div class="bg-gray-300 text-gray-900 text-center py-12 px-4 lg:px-16">
	<h2 class="text-2xl mb-8">{{ .heading }}</h2>
	{{ if .text }}<p class="my-8">{{ .text }}</p>{{ end }}
	{{ if .services }}
	<ul class="flex justify-around mt-8 mb-4">
		{{ range .services }}
			<li>
				<a href="{{ .url }}" class="block no-underline text-gray-900">
					<svg class="w-20 mx-auto fill-current text-gray-700" viewBox="0 0 32 32">
						<use xlink:href="/img/sprites.svg#{{ .icon }}" />
					</svg>
					<div class="mt-4">{{ .title }}</div>
				</a>
			</li>
		{{ end }}
	</ul>
	{{ end }}
</div>
{{ end }}

{{ partial "logo-cloud" .Params.brands }}

{{/*{{ partial "2-up" .Params }}*/}}

{{/*{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}*/}}

{{/*{{ partial "blog" . }}*/}}

{{ end }}
