{{ define "main" }}

{{ partial "hero-section" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ if .Params.blurbs }}
	<div class="">
		{{ range .Params.blurbs }}
			{{ partial "short-text" . }}
		{{ end }}
	</div>
{{ end }}

{{ partial "logo-cloud" .Params.brands }}

{{/*{{ partial "2-up" .Params }}*/}}

{{/*{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}*/}}

{{/*{{ partial "blog" . }}*/}}

{{ end }}
